<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Додати контакт</title>
</head>
<body>
    <h1>Додати новий контакт</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }} {{ form.name(size=32) }}</p>
        <p>{{ form.email.label }} {{ form.email(size=32) }}</p>
        <p>{{ form.phone.label }} {{ form.phone(size=32) }}</p>
        <p>{{ form.group_id.label }} {{ form.group_id() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
